:root {
  --blue: #0c3c8e;
  --gray: #495057;
  --white: #f4f4f4;
  --f-size: 14px;
}
body {
  overflow-x: hidden;
}

.reciept-container{
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.receipt-body::after {
  content: "";
  z-index: 2;
  display: flex;
  position: absolute;
  background: url(../../logo.png);
  background-size: 120px;
  background-position: center;
  opacity: .15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.receipt-body {
  position: relative;
  max-width: 1120px;
  width: 100%;
  min-width: 1100px;
  border: 4px solid #000;
  min-height: 700px;
  line-height: 1.9;
  margin: 0 auto;
  height: fit-content;
}

/* .receipt-body * {
  white-space: nowrap;
} */

.header-logo>img {
  width: 150px;
  object-fit: contain;
}

.receipt-header {
  padding: calc(var(--f-size) * 2);
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
}

.header-slogan {
  font-size: calc(var(--f-size) * .9);
  color: #495057;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}

.header-content {
  flex: 1;
  text-align: center;
}

.header-title {
  font-size: calc(var(--f-size) * 2.3);
  margin-bottom: calc(var(--f-size) * 1);
  letter-spacing: 5px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--blue)
}

.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name {
  font-weight: 500;
  margin-right: calc(var(--f-size) * .6);
}

.contact-no {
  text-decoration: underline;
  letter-spacing: 1px;
}

.header-right {
  display: flex;
}

.reciept-name {
  font-size: calc(var(--f-size) * 2);
  font-weight: 600;
  color: var(--blue);
  align-self: flex-end;
}

.main {
  display: flex;
}

.main-item {
  flex: 1;
  border-right: 2px solid #000;
}

.main-item:last-of-type {
  border-right: none;
}

.part-head {
  background: var(--blue);
  color: var(--white);
  font-size:  calc(var(--f-size) *.85);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1;
}

.part-details {
  display: flex;
  padding: calc(var(--f-size) * .5)  calc(var(--f-size) *1);
  flex-direction: column;
}

.bordered {
  border-bottom: 2px solid #000;
}

.part-title {
  font-size:  calc(var(--f-size), .8);
  letter-spacing: 1px;
  color: var(--gray);
  font-weight: 400;
}

.part-value {
  font-size:  calc(var(--f-size) * .95);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.m-0 {
  margin: 0;
}

.shift-right {
  margin-right:  calc(var(--f-size) * 1);
}

.shift-bottom {
  margin-bottom:  calc(var(--f-size) * .6);
}

.check-part {
  display: flex;
  align-items: center;
}

.check-label {
  font-size:  calc(var(--f-size) * .85);
  margin-right:  calc(var(--f-size) * .3);
}

.cell {
  width: 16px;
  height: 16px;
  background-color: #ccc;
}

.cell.active {
  background-color: var(--blue);
}

.code {
  width: 90%;
  display: flex;
  margin: 0 auto;
  object-fit: contain;
}

.double {
  display: flex;
}

.double>* {
  flex: 1;
}

.border-right {
  border-right: 2px solid #000;
}

.paid {
  position: absolute;
  z-index: 5;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.stamp {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  max-width: 200px;
  right: 50px;
}

.sign {
  bottom: 0px;
}

.original {
  left: 60%;
  top: 30%;
  opacity: .7;
  width: 200px;
}

.print {
  right: unset;
  left: 50px;
  width: 80px;
}